
@font-face {
    font-family: 'Inter';
    src: url('./Inter.ttf') format('truetype');
  }

/* Sign, Login.css 그리고 App.css 가 메인 페이지의 오브젝트들을 밀리게 하는 현상이 확인되어 주석처리 합니다.
$$$ 해결 방법 및 기존 스타일 적용 >> 스타일드 컴포넌트를 사용해서 해결 또는 다른 스타일 이름을 사용해서 해결
질문은 Middle1204 <<
*/
/*
    .login-wrapper{
      display: flex;
      outline: auto;
      width: 600px;
      height: 500px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      outline-color: white;
      box-shadow: 5px 5px 5px 5px gray;
    }
    input{
      width: 500px;
      height: 50px;
      border-radius: 10px;
      box-shadow: 2px 2px gray;
      border-color: white
    }
      body{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 13% 0 0 0 ;
    } 
    h2{
      text-align: center;
    }
    #login{
      background-color: #FFE766;
      color: white;
      font-size:20px;
      text-shadow: 2px 2px 2px gray ;
    }
    #chicken{
      width: 100px;
      height: 100px;
    }
    a:link { color:#FFE766; }
    a:visited { color:#FFE766; }
    a{text-decoration-line: none;}
    
*/