
.pro1-wrap {
  width: 1518.5px;
  height: 600px;
}
.pro1-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pro1-text {
  position: relative;
  top: 450px;
  z-index: 2;
  color: white;
  text-align: center;
  background-color: #00000073;
  width: 100%;
  height: 250px;
  display:flex;
    justify-content:center;
    align-items:center;
}

#pro1 {
  width: 684px;
  height: 600px;
}
.text1{
  font-size:larger;
  font-weight: 700;
  line-height:0px;
}
#ariii{
  width:400px;
  height: 400px;
}
#ariii2{
  width:400px;
  height: 400px;
}
.ar2{
  position: relative;
        left: 415px;
        top: 170px;
}
.ar3{
  position: relative;
        left: 415px;
        top: -300px;
}
#head1{
  font-size:34px;
  font-weight: 700;
  line-height:0px;
}
.headline-text{
  z-index: 2;
  top :-70px;
  left: 840px;
  position: relative;
}
.head{
  font-size:22px;
  font-weight: 500;
  line-height:0px;
}



.pro2-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pro2-text {
  position: relative;
  top: 450px;
  z-index: 2;
  color: white;
  text-align: center;
  background-color: #00000073;
  width: 100%;
  height: 250px;
  display:flex;
    justify-content:center;
    align-items:center;
}

#pro2 {
  width: 684px;
  height: 600px;
}
.text2{
  font-size:larger;
  font-weight: 700;
  line-height:0px;
}




.pro3-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pro3-text {
  position: relative;
  top: 450px;
  z-index: 2;
  color: white;
  text-align: center;
  background-color: #00000073;
  width: 100%;
  height: 250px;
  display:flex;
    justify-content:center;
    align-items:center;
}

#pro3 {
  width: 684px;
  height: 600px;
}
.text3{
  font-size:larger;
  font-weight: 700;
  line-height:0px;
}
.head3{
  font-size:22px;
  font-weight: 500;
  line-height:0px;
}
.headline-text2{
  z-index: 2;
  top :-590px;
  left: 850px;
  position: relative;
}
#probtn{
  background-color:#FFC20C;
  border: none;
  width: 262px;
  height:60px;
  border-radius: 10px;
  color:white;
  font-size: x-large;
  font-weight: 600;
  box-shadow: none;
}
body {
  overflow-x: hidden;
}
#log-text{
  position: relative;
  top: -40px;
}
#loxt{
  font-size: x-large;
  font-weight: 900;
}
#eeeee{
  position: relative;
  top:-50px
}
#lolo{
  position:relative;
  top: -30px;
}
.email{
  border-right-color: gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#pw{
  border-bottom-color:gray;
  border-right-color: gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#mkem{
  border-right-color: gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#mkpw{
  border-right-color:gray;
}
#ckpw{
  border-bottom-color:gray;
  border-right-color: gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#sup{
  background-color: #ffe766;
  border:none;
  border-radius:10px;
  color:white;
  font-size: 20px;
}
#signup-wrapper{
  position: relative;
  top:-50px;
}
#return{
  position:relative;
  top: -30px;
}
.foot-wrapeer{
  margin-top: 500px;
@font-face {
    font-family: 'Inter';
    src: url('./Inter.ttf') format('truetype');
  }
}