.pro1-wrap {
  width: 1518.5px;
  height: 600px;
}
.pro1-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pro1-text {
  position: relative;
  top: 450px;
  z-index: 2;
  color: white;
  text-align: center;
  background-color: #00000073;
  width: 100%;
  height: 250px;
  display:flex;
	justify-content:center;
	align-items:center;
}
@font-face {
    font-family: 'Inter';
    src: url('./Inter.ttf') format('truetype');
  }
